* {
  margin: 0;
  padding: 0;
}


.index .container{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index .container li{
  margin-top: 25px;
  width: 45%;
}
.index .container li:last-child{
  margin-bottom: 60px;
}
.index .container li img{
  width: 122px;
  height: 122px;
}
.index .container li div{
  width: 122px;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
}
.index .container li div p{
  line-height: 30px;
}

