*{
  padding: 0;
  margin: 0;
}
.secondNav{
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}
.secondNav div{
  display: inline-block;
  width: 40px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
 div .sortImg{
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 28px;
  text-align: center;
  z-index: 10;
  top: 40px;
  right: 0;
  background-color: white;
   -webkit-box-shadow:-1px 0px 8px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 8px rgba(0,0,0,0.2);
}
 div .sortImg img{
   display: block;
   text-align: center;
   margin: 5px auto;
   width: 20px;
   height: 20px;
}


 div .fugai{
   height: 5px;
   width: 100%;
   margin-top: -8px;
   z-index: 5 !important;
   background-color: #fafafa;
   display: inline-block;
   position: absolute;
 }



.on {
  font-size: 20px;
  display: inline-block;
  color: orange;
  font-weight: bolder;
 }


