*{
  margin: 0;
  padding: 0;
}
.comment{
  background-image: url("./../../../../static/bg.png");
}
.comment .content{
  width: 90%;
  margin: 0 auto;;
}

.comment .content .good .good-content{
  width: 100%;
  height: 120px;
  margin-top: 20px;
  background-color: #E4E4E4;
  position: relative;
  display: -webkit-flex; /* Safari */
  justify-content:flex-start;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}
.comment .content .good .good-content:last-child{
  margin-bottom: 70px;
}
.comment .content .good .good-content  img{
  height: 100px;
  width: 100px;
  margin-left: 5%;
}


.comment  .good .detail{
  height: 100px;
  width: 50%;
  margin-left: 8%;
  font-size: 14px;
  background-color: #E4E4E4;
}
.comment .content .good .detail  .name{
  font-size: 18px;
  line-height: 25px;
}
.comment .content .good .detail li{
  color: #8c8c8c;
  line-height: 24px;
}
.comment .content .good .detail li span{
  float: left;
}



.comment .content .comment{
  border: none;
  height: 48px;
  width: 90%;
  position: fixed;
  left: 5%;
  bottom: 10px;
  background-color: #666666;
  color: white;
  border-radius: 5px;
}

.comment textarea{
  width: 100%;
  height: 100px;
  text-indent: 2em;
  border-radius: 5px;
}
