*{
  margin: 0;
  padding: 0;
}
.login{
  background-image: url("./../../../../static/bg.png");
  width: 100%;
  text-align: center;
}

.login .title{
  margin-top: 60px;
}

.login ul{
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.login ul li{
  margin-top: 8%;
}
.login ul li button{
  border: none;
  height: 48px;
  width: 200px;
  padding: 0 20px;
  border-radius: 50px;
  display: flex;
  align-items:center;
  justify-content:space-between;
}
.login ul li img{
  width: 24px;
  height: 24px;

}


.login .iponeLogin button{
  color: #89e4ff;
  background-color: teal;
}
.login .weixinLogin button{
  background-image: linear-gradient(to right,rebeccapurple , deepskyblue);
  color: white;
}
.login .adminLogin button{
  background-color: white;
  color: black;
}
