* {
  margin: 0;
  padding: 0;
}
.swiper {
  height: 200px;
}

.admin .container{
  width: 86%;
  margin: 10px auto;
  background-color: #E4E4E4;
  padding: 10px 2%;
  height: 250px;
}

.admin .container .title{
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.admin .container ul{
  margin-left: 10px;
  font-size: 12px;
}

.admin .submit{
  width: 100%;
  text-align: center;
}
.admin .submit button{
  background-color: #354138;
  border-radius: 10px;
  border: none;
  height: 48px;
  width: 120px;
  color: white;
}
